input[type=text], select, textarea{
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    align-content: center;
  }

  input[type=text]:focus {
    width: 40%;
  }

  .container{
      width: 100%;
  }

  img{
      width: 30%;
  }

  h2{
      text-align: left;
  }

  h3{
    text-align: left;
  }

  .mocieCard{
      background-color: blue;
  }
  