body{
    background-color: #95D5FF;
    height: 100vh;
}

.form{
    text-align: center;
}

.button{
    text-align: center;
    padding-left: 500px;
    float: left;
}

input[type=text], select, textarea{
    margin-bottom: 15px;
    width: 250px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none;
    border-bottom: 8px solid gray;
    height: 64px;
    display: inline-block;
  }

  input[type=text]:focus {
    width: 300px;
    border-bottom: 8px solid blue;
  }

  input[type=submit]{
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }