<body>
  <div class="form">
    <form>
      <input type="text" name="search" [(ngModel)]="searchInput" (keyup)="searchMusic()" placeholder="Artist">
    </form>
  </div>

  <ul *ngIf="musicInfo" style="list-style: none; background-color: #95D5FF;">
    <li *ngFor="let m of musicInfo">
      <div class="movieCard">
       <h1>{{m.title}}</h1>
       <br>
       <strong>Duration: </strong>{{m.duration}}
       <br>
       <strong>Artist name: </strong>{{m.artist.alias}}
       <br>
       <strong>Song ID: </strong>{{m.id}}
       <br>
       <strong>Artist ID: </strong>{{m.artistId}}
      </div>
    </li>
 </ul>

 <!--
  <div *ngIf="musicInfo" class="movieCard">
    <br>
    <h1>{{musicInfo.titleView}}</h1>
    <br>
    <strong>duration:</strong> {{musicInfo.durationView}}
    <br>
  </div>-->
  </body>