<body>
    <div class="form">
      <form>
        <input type="text" name="search" [(ngModel)]="searchInput" (keyup)="searchSpotify()" placeholder="Search id">
        <p style="font-style: italic; color: white;">example id tt1285016</p>
      </form>
    </div>
    <!--{{searchInput}}-->
    
    
    <div *ngIf="movieInfo" class="movieCard">
      <br>
      <div class="wrapper">
        <img src={{movieInfo.posterView}} alt="" class="box a">
        <h2 class="box b">{{movieInfo.TitleView}}</h2>
        <h3 class="box c">Release Date: {{movieInfo.ReleasedView}}</h3>
        <h3 class="box d">Genre: {{movieInfo.GenreView}}</h3>
      </div>
      <br>
      <strong>Director:</strong> {{movieInfo.DirectorView}}
      <br>
      <strong>Writer:</strong> {{movieInfo.WriterView}}
      <br>
      <strong>Actors:</strong> {{movieInfo.ActorsView}}
      <br>
      <strong>Plot:</strong> {{movieInfo.PlotView}}
      <br>
      <strong>Language:</strong> {{movieInfo.LanguageView}}
      <br>
      <strong>Country:</strong> {{movieInfo.CountryView}}
      <br>
      <strong>Awards:</strong> {{movieInfo.AwardsView}}
      <br>
      <strong>imdb rating:</strong> {{movieInfo.imdbRatingView}}
      <br>
    </div>
    </body>