li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover{
    color: #00FF00;
}
li.link-active a:focus {
    color: #00FF00;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 10%;
        width: calc(25% - 20px);
    }
    .navbar {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
        border-width: 0px;
        height: 10%;
        width: 100vw;
    }
    .navbar-header {
        float: left;
        width: 20%;
    }
    .navbar-collapse {
        float: right;
        width: 70%;
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: left;
        width: 100%;
    }
    .navbar li {
        width: 20vw;
        float: none;
        font-size: 15px;
        margin: 6px;
        float: left;
    }
    .navbar li a {
        color: #ffffff;
        padding: 10px 16px;
        border-radius: 4px;
        float: left;
    }

    .navbar li a:hover {
        color: #00ff00;
        padding: 10px 16px;
        border-radius: 4px;
        float: left;
    }

    .navbar li a:focus {
        color: #00ff00;
        padding: 10px 16px;
        border-radius: 4px;
        float: left;
    }

    .navbar a {
        /* If a menu item's text is too long, truncate it */
        color: #ffffff;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
