li .glyphicon {
    margin-right: 10px;
}

.navbar-collapse {
    float: right;
    width: 75%;
    padding: 0px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover{
    font-weight: bolder;
    /*text-decoration: underline;*/
}

li.link-active a:focus {
    color: #004CFF;
}

.navbar li a {
    color: #ffffff;
    font-size: 16pt;
    padding: 10px 16px;
    border-radius: 4px;
    float: left;
}

.navbar li a:hover{
    color: #004CFF;
}


/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.navbar {
    background-color: #95D5FF;
    border-radius: 0px;
    border-width: 0px;
    padding-top: 20px;
    height: 50px;
    width: 100%;
}

.navbar-brand{
    color: white;
    font-size: 16pt;
}

/*
@media (min-width: 768px) {
    
    .main-nav {
        height: 10%;
        width: calc(25% - 20px);
    }
    .navbar {
        background-color: #95D5FF;
        border-radius: 0px;
        border-width: 0px;
        height: 10%;
        width: 100vw;
    }
    .navbar-header {
        float: left;
        width: 20%;
    }
    .navbar-collapse {
        float: right;
        width: 70%;
        padding: 0px;
    }
    .navbar ul {
        float: left;
        width: 100%;
    }
    .navbar li {
        width: 20vw;
        float: none;
        font-size: 15px;
        margin: 6px;
        float: left;
    }
    

    .navbar li a:hover {
        color: #004CFF;
        padding: 10px 16px;
        border-radius: 4px;
        float: left;
    }

    .navbar li a:focus {
        color: #004CFF;
        padding: 10px 16px;
        border-radius: 4px;
        float: left;
    }

    .navbar a {
        
        color: #ffffff;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
*/